{% extends 'layouts/base.twig' %}

{% block content %}
    <h1 class="mt-4">Druck-Dashboard</h1>

    <!-- Akzeptierte Ausschreibungen -->
    <h2 class="mt-4">Akzeptierte Ausschreibungen</h2>
    <div class="table-responsive mb-5">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Titel</th>
                <th>Preis</th>
                <th>Status</th>
                <th style="width: 30%">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for tender in acceptedTenders %}
                <tr>
                    <td>{{ tender.Tender_ID }}</td>
                    <td>{{ tender.order.design.Name }}</td>
                    <td>{{ tender.Bid }} BCY</td>
                    <td>
                        {% if tender.Status == 'OPEN' %}
                            <span class="badge bg-primary" style="color: #FFFFFF;">Offen</span>
                        {% elseif tender.Status == 'ACCEPTED' %}
                            <span class="badge bg-success" style="color: #FFFFFF;">Akzeptiert</span>
                        {% elseif tender.Status == 'CONFIRM_USER' %}
                            <span class="badge bg-success" style="color: #FFFFFF;">User bestätigt</span>
                        {% elseif tender.Status == 'CONFIRM_PROVIDER' %}
                            <span class="badge bg-success" style="color: #FFFFFF;">Druckdienstleister bestätigt</span>
                        {% elseif tender.Status == 'PAID' %}
                            <span class="badge bg-success" style="color: #FFFFFF;">Bezahlt</span>
                        {% elseif tender.Status == 'PROCESSING' %}
                            <span class="badge bg-warning" style="color: #FFFFFF;">In Bearbeitung</span>
                        {% elseif tender.Status == 'SHIPPED' %}
                            <span class="badge bg-primary" style="color: #FFFFFF;">In Versand</span>
                        {% elseif tender.Status == 'CLOSED' %}
                            <span class="badge bg-dark" style="color: #FFFFFF;">Erhalten</span>
                        {% else %}
                            <span class="badge bg-secondary" style="color: #FFFFFF;">{{ tender.Status }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#tenderModal{{ tender.Tender_ID }}">
                                    Details
                                </button>
                            </div>
                            <div class="col-3">
                                <!-- Neuer Button für Chat -->
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#chatModal{{ tender.Tender_ID }}">
                                    Chat
                                </button>
                            </div>

                            <div class="col-3">
                                <!-- Confirm-Button -->
                                {% if tender.Status == 'CONFIRM_USER' %}
                                    <form method="post" action="/tenders/confirm">
                                        <input type="hidden" name="tender_id" value="{{ tender.Tender_ID }}">
                                        <button type="submit" class="btn btn-primary">Bestätigen</button>
                                    </form>

                                {% elseif tender.Status == 'CONFIRM_PROVIDER' %}
                                    <div class="col-6">
                                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#transactionModal{{ tender.Tender_ID }}">
                                            Transaktionsdetails
                                        </button>
                                    </div>

                                <!-- Processing-Button abhängig von Status und Kontext -->
                                {% elseif tender.Status == 'PAID' %}
                                    <!-- Datei-Download-Link -->
                                    <a href="/download?tender_id={{ tender.Tender_ID }}"
                                       class="btn btn-primary"
                                       onclick="setTimeout(function() { window.location.reload(); }, 500);">
                                        Datei herunterladen
                                    </a>

                                <!-- Shipping-Button -->
                                {% elseif tender.Status == 'PROCESSING' %}
                                    <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#shippingModal{{ tender.Tender_ID }}">
                                        Versenden
                                    </button>
                                {% elseif tender.Status == 'SHIPPED' %}
                                    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#shippingModal{{ tender.Tender_ID }}">
                                        Versandinformationen
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                {% include 'modals/tenders/info_modal.twig' with {
                    'tender': tender
                } %}
                {% include 'modals/tenders/chat_modal.twig' with {
                    'tender': tender
                } %}
                {% if tender.Status in ["PROCESSING", "SHIPPED"] %}
                    {% include 'modals/tenders/shipping_modal.twig' with {
                        'tender': tender
                    } %}
                {% endif %}

                {% if tender.Status == "CONFIRM_PROVIDER" %}
                    {% include 'modals/transaction_modal.twig' with {
                        TransactionHash: tender.Transaction_Hash,
                        PaidPrice: tender.Bid,
                        PaymentStatus: tender.Status,
                        Id: tender.Tender_ID
                    } %}
                {% endif %}
            {% endfor %}
            {% if acceptedTenders|length == 0 %}
                <tr>
                    <td colspan="5" class="text-center">Keine eigenen Ausschreibungen gefunden.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <!-- Öffentliche Ausschreibungen -->
    <h2>Öffentliche Ausschreibungen</h2>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Titel</th>
                <th>Preis</th>
                <th>Status</th>
                <th style="width: 30%">Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for tender in publicTenders %}
                <tr>
                    <td>{{ tender.Tender_ID }}</td>
                    <td>{{ tender.order.design.Name }}</td>
                    <td>{{ tender.Bid }}</td>
                    <td>
                        {% if tender.Status == 'OPEN' %}
                            <span class="badge bg-primary" style="color: #FFFFFF;">Offen</span>
                        {% elseif tender.Status == 'ACCEPTED' %}
                            <span class="badge bg-success" style="color: #FFFFFF;">Akzeptiert</span>
                        {% elseif tender.Status == 'CONFIRM_USER' %}
                            <span class="badge bg-success" style="color: #FFFFFF;">User bestätigt</span>
                        {% elseif tender.Status == 'CONFIRM_PROVIDER' %}
                            <span class="badge bg-success" style="color: #FFFFFF;">Druckdienstleister bestätigt</span>
                        {% elseif tender.Status == 'PAID' %}
                            <span class="badge bg-success" style="color: #FFFFFF;">Bezahlt</span>
                        {% elseif tender.Status == 'PROCESSING' %}
                            <span class="badge bg-warning" style="color: #FFFFFF;">In Bearbeitung</span>
                        {% elseif tender.Status == 'SHIPPED' %}
                            <span class="badge bg-primary" style="color: #FFFFFF;">In Versand</span>
                        {% elseif tender.Status == 'CLOSED' %}
                            <span class="badge bg-dark" style="color: #FFFFFF;">Erhalten</span>
                        {% else %}
                            <span class="badge bg-secondary" style="color: #FFFFFF;">{{ tender.Status }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#tenderModal{{ tender.Tender_ID }}">
                                    Details
                                </button>
                            </div>
                            <div class="col-3">
                                <!-- Claim-Button -->
                                {% if tender.Status == 'OPEN' %}
                                    <form method="post" action="/tenders/accept">
                                        <input type="hidden" name="tender_id" value="{{ tender.Tender_ID }}">
                                        <input type="hidden" name="action" value="ACCEPTED">
                                        <button type="submit" class="btn btn-primary">Akzeptieren</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                {% include 'modals/tenders/info_modal.twig' with {
                    'tender': tender
                } %}
            {% endfor %}
            {% if publicTenders|length == 0 %}
                <tr>
                    <td colspan="5" class="text-center">Keine öffentlichen Ausschreibungen gefunden.</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

{% endblock %}
